<html>
  <head></head>
  <body>
    <p>Caesar Cipher!</p>
    <form>
       Shift Factor:
      <select name="number">
　      <option value=3>3</option>
　      <option value=4>4</option>
　      <option value=5>5</option>
　      <option value=6>6</option>
　      <option value=7>7</option>
        <option value=8>8</option>
        <option value=9>9</option>
      </select>
      <input type='text' name='code_string' value='Input your words here!' />
      <input type='submit' value='Summit!' />
    </form>
    <p><%= result %></p>
  </body>
</html>
